@import "@bcgov/bc-sans/css/BC_Sans.css";
@import "tailwindcss";

/* Setting B.C. Government standard styles */
@theme {
  /* Adding font standard formatting */
  /* Only including non-default values */
  --text-xs--line-height: 1.125rem;
  --text-sm--line-height: 1.313rem;
  --text-base--line-height: 1.688rem;
  --text-lg--line-height: 1.913rem;
  --text-xl--line-height: 2.125rem;
  --text-2xl--line-height: 2.25rem;
  --text-3xl--line-height: 3rem;
  --text-4xl--line-height: 3.375rem;

  /**

  **/
  /* COLOURS */
  /* Disable default blue and redefine as B.C. Gov blue */
  --color-blue-\*: initial;
  --color-blue-50: #f1f8fe;
  --color-blue-100: #d8eafd;
  --color-blue-200: #c1ddfc;
  --color-blue-300: #a8d0fb;
  --color-blue-400: #91c4fa;
  --color-blue-500: #7ab8f9;
  --color-blue-600: #5595d9;
  --color-blue-700: #3470b1;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;
  --color-blue-950: #172554;
  /* Disable default gold and redefine as B.C. Gov gold */
  --color-gold-\*: initial;
  --color-gold-50: #fef8e8;
  --color-gold-100: #fef0d8;
  --color-gold-200: #fde9c4;
  --color-gold-300: #fce2b0;
  --color-gold-400: #fbda9d;
  --color-gold-500: #fbd389;
  --color-gold-600: #facc75;
  --color-gold-700: #f9c462;
  --color-gold-800: #f8ba47;
  --color-gold-900: #fcba19;
  --color-gold-950: #fcba19;
  /* Define other B.C. Gov token values */
  /* BUTTONS */
  --color-button-primary: #013366;
  --color-button-primary-hover: #1e5189;
  --color-button-secondary: #ffffff;
  --color-button-danger: #ce3e39;
  --color-button-danger-hover: #a2312d;
  --color-disabled: #edebe9; /* Also used for secondary button hover */
  --color-placeholder: #9f9d9c;
  /* Define B.C. Gov status colours */
  /* Success */
  --color-success-50: #f0fdf4;
  --color-success-100: #dcfce7;
  --color-success-200: #bbf7d0;
  --color-success-300: #86efac;
  --color-success-400: #4ade80;
  --color-success-500: #22c55e;
  --color-success-600: #16a34a;
  --color-success-700: #15803d;
  --color-success-800: #166534;
  --color-success-900: #14532d;
  --color-success-950: #052e16;
  /* Warning */
  --color-warning-50: #fffbeb;
  --color-warning-100: #fef3c7;
  --color-warning-200: #fde68a;
  --color-warning-300: #fcd34d;
  --color-warning-400: #fbbf24;
  --color-warning-500: #f59e0b;
  --color-warning-600: #d97706;
  --color-warning-700: #b45309;
  --color-warning-800: #92400e;
  --color-warning-900: #78350f;
  --color-warning-950: #451a03;
  /* Error */
  --color-error-50: #fef2f2;
  --color-error-100: #fee2e2;
  --color-error-200: #fecaca;
  --color-error-300: #fca5a5;
  --color-error-400: #f87171;
  --color-error-500: #ef4444;
  --color-error-600: #dc2626;
  --color-error-700: #b91c1c;
  --color-error-800: #991b1b;
  --color-error-900: #7f1d1d;
  --color-error-950: #450a0a;
}
