@import "./spacing.css";
@import "tailwindcss";

@layer base {
  h1 {
    font-weight: var(--text-bold);
    font-size: var(--text-5xl);
    line-height: 1.5em;
  }
  h2 {
    font-weight: var(--text-bold);
    font-size: var(--text-4xl);
    line-height: 1.5em;
  }
  h3 {
    font-weight: var(--text-bold);
    font-size: var(--text-3xl);
    line-height: 1.5em;
  }
  h4 {
    font-weight: var(--text-bold);
    font-size: var(--text-2xl);
    line-height: 1.5em;
  }
  h5 {
    font-weight: var(--text-bold);
    font-size: var(--text-xl);
    line-height: 1.5em;
  }
  h6 {
    font-weight: var(--text-bold);
    font-size: var(--text-lg);
    line-height: 1.5em;
  }
}
